.slick-prev:before{
    display: none;
}
.slick-next:before {
    display: none;
}
.slick-dots li button:before{
    color: red; 
    font-size: 5px;
    border-radius: 0;
    display: none;
}
.slick-dots li.slick-active button:before{
    color: red;
    width: 25px;
    height: 25px;
}